<!DOCTYPE html>
<html lang ="en">
<head>
<link rel="stylesheet" type="text/css" href="homepage.css">
    <center><h1>Controle de temperatura</h1></center>
</head>    
<body>
<form method="POST">
    <center><p>Qual porta:</p></center>
    <center><input name = "portName"></center>
    <center><p>Tempo total experiencia:</p></center>
    <center><input name = "tempo_experiencia"></center>
    <center><p>Nome do arquivo txt:</p></center>
    <center><input name = "filename"></center>
    <center><button type="submit">Start</button></center>
</form>
</body>
</html>
